<form [formGroup]="formSignUp" (submit)="onSubmit()">
<div class="user-form container-fluid">
  <div class="row no-gutter">
    <div class="col-md-6 d-none d-md-flex bg-image"></div>
    <div class="col-md-6 bg-light">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-10 mx-auto">
              <h3 class="display-4">Sign up</h3>
              <p class="text-muted mb-4">Create a user to access of the app</p>
            </div>
            <div class="col-5 ms-auto">
              <div class="form-group mb-3">
                <input id="firstname" formControlName="firstname" type="text" placeholder="Firstname"  class="form-control rounded-pill border-0 shadow-sm px-4">
              </div>
            </div>
            <div class="col-5 me-auto">
              <div class="form-group mb-3">
                <input id="lastname" formControlName="lastname" type="text" placeholder="Lastname"  class="form-control rounded-pill border-0 shadow-sm px-4">
              </div>
            </div>
            <div class="col-10 mx-auto">
              <div class="form-group mb-3">
                <input id="email" formControlName="email" type="email" placeholder="Email address"  class="form-control rounded-pill border-0 shadow-sm px-4">
              </div>
              <div class="form-group mb-3">
                <input id="password" formControlName="password" type="password" placeholder="Password"  class="form-control rounded-pill border-0 shadow-sm px-4">
                <p class="ms-3 mt-2 text-danger" *ngIf="formSignUp.get('password')?.touched && formSignUp.get('password')?.errors?.['minlength']">Votre mot de passe doit faire minimum 6 caractères</p>
              </div>
              <div class="mb-3 ms-2">
                <a routerLink="/sign-in" routerLinkActive="active">You already have an account ?</a>
              </div>
              <div class="col-12 mt-4 text-center">
                <button type="submit" class="btn btn-primary btn-block rounded-pill shadow-sm">Sign in</button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="loader-container" *ngIf="isLoading">
    <div class="loader"></div>
  </div>
</form>
