<div class="mt-5 ms-5 me-5 mb-5">
  <h1 class="primary-text">My applications</h1>
  <div class="col-md-12 text-end">
    <a routerLink="/applications/create" routerLinkActive="active" class="btn btn-primary">Add application</a>
  </div>
  <p *ngIf="applications.length === 0">You don't have any Application</p>
</div>
<div class="course-row ms-5 me-5">
  <div class="course" *ngFor="let application of applications | paginate: {id: 'application', itemsPerPage: pageSize, currentPage: page, totalItems: count}">
    <div class="course-preview">
      <h6>{{application.application_category}}</h6>
      <h3>{{application.company_name}}</h3>
    </div>
    <div class="course-info">
      <div class="course-header">
        <h6 class="{{application.application_status}} course-status">
          <i class="fas fa-check"></i>
          <span>{{application.application_status}}</span>
        </h6>
        <h2 class="course-title">{{application.application_title}}</h2>
      </div>
      <div class="course-details">
        <div class="course-row">
          <i class="fas fa-calendar-alt"></i>
          <p class="course-icon">{{ application.application_date | dateFr }}</p>
        </div>
        <div class="course-row">
          <i class="fas fa-user"></i>
          <p class="course-icon">{{ application.application_contact_name }}</p>
        </div>
        <div class="course-row">
          <i class="fas fa-envelope"></i>
          <p class="course-icon">{{ application.application_contact_email }}</p>
        </div>
        <div class="course-row">
          <i class="fas fa-phone"></i>
          <p class="course-icon">{{ application.application_contact_phone }}</p>
        </div>
      </div>
      <div class="course-buttons">
        <a routerLink="/applications/update" [state]="{application: application}" routerLinkActive="active" class="course-button edit"><i class="fas fa-pencil-alt"></i>Edit</a>
        <button class="course-button delete" (click)="openDeleteModal(application)"><i class="fas fa-trash-alt"></i>Delete</button>
      </div>
    </div>
  </div>
</div>
<div class="mt-3" *ngIf="applications.length > 0">
  <div class="col-md-12 text-center">
    <pagination-controls class="m-0" id="application" previousLabel="Previous" nextLabel="Next" (pageChange)="handlePageChange($event)"></pagination-controls>
  </div>
</div>

<!-- Add this modal at the end -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Application</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you really want to delete this application?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteApplication()">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="loader-container" *ngIf="isLoading" >
  <div class="loader"></div>
</div>
