<div class="mt-5 ms-5 me-5 mb-5">
  <h1 class="primary-text">My applications</h1>
</div>
<div class="course-row ms-5 me-5">
  <div class="course">
    <div class="course-preview">
      <h6>CDI</h6>
      <h2>Orange</h2>
    </div>
    <div class="course-info">
      <div class="course-header">
        <h6 class="course-status accepted">
          <i class="fas fa-check"></i>
          <span>Accepted</span>
        </h6>
        <h2 class="course-title">Developer Full-stack</h2>
      </div>
      <div class="course-details">
        <div class="course-row">
          <i class="fas fa-calendar-alt"></i>
          <p class="course-icon">4 April 2023</p>
        </div>
        <div class="course-row">
          <i class="fas fa-user"></i>
          <p class="course-icon">Elon Musk</p>
        </div>
        <div class="course-row">
          <i class="fas fa-phone"></i>
          <p class="course-icon">+33 07 95 96 12 23</p>
        </div>
      </div>
      <div class="course-buttons">
        <button class="course-button edit"><i class="fas fa-pencil-alt"></i>Edit</button>
        <button class="course-button delete"><i class="fas fa-trash-alt"></i>Delete</button>
      </div>
    </div>
  </div>
  <div class="course">
    <div class="course-preview">
      <h6>CDI</h6>
      <h2>Orange</h2>
    </div>
    <div class="course-info">
      <div class="course-header">
        <h6 class="course-status pending">
          <i class="fas fa-clock"></i>
          <span>Pending</span>
        </h6>
        <h2 class="course-title">Developer Full-stack</h2>
      </div>
      <div class="course-details">
        <div class="course-row">
          <i class="fas fa-calendar-alt"></i>
          <p class="course-icon">4 April 2023</p>
        </div>
        <div class="course-row">
          <i class="fas fa-user"></i>
          <p class="course-icon">Elon Musk</p>
        </div>
        <div class="course-row">
          <i class="fas fa-phone"></i>
          <p class="course-icon">+33 07 95 96 12 23</p>
        </div>
      </div>
      <div class="course-buttons">
        <button class="course-button edit"><i class="fas fa-pencil-alt"></i>Edit</button>
        <button class="course-button delete"><i class="fas fa-trash-alt"></i>Delete</button>
      </div>
    </div>
  </div>
</div>
